@import '../../styles/globals.scss';

:global {

    .Share {
        @include flex-center;
        > div:first-child {
            flex: 1;
        }
    }
    .shareDialogActions {
        > * {
            margin-right: 15px;
        }
    }



    .has-value.is-clearable.Select--single > .Select-control .Select-value {
        padding-right: 15px !important;
    }
    .Select-clear-zone {
        display: none;
        pointer-events: none;
    }
    .shareDialog {
        .choose-client {
            display: flex;
            > div:first-child {
                flex: 1;
            }
            button {
                color: #fff !important;
            }
        }
    }


}
