@import '../../styles/globals.scss';

:global {

    .Share {
        @include flex-center;
        > div:first-child {
            flex: 1;
        }
    }
    .shareDialogActions {
        > * {
            margin-right: 15px;
        }
    }



    .has-value.is-clearable.Select--single > .Select-control .Select-value {
        padding-right: 15px !important;
    }
    .Select-clear-zone {
        display: none;
        pointer-events: none;
    }
    .shareDialog {
        .choose-client {
            display: flex;
            > div:first-child {
                flex: 1;
            }
            button {
                color: #fff !important;
            }
        }
    }


    .share-social-buttons {
        display: flex;
        > div, > a {
            @include flex-center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            padding: 5px;
            margin-left: 15px;
            &.whatsapp {
                background: #0ad261;
            }
            &.facebook {
                background: #4266b2;
            }
            &.copy {
                background: #7F7F7F;
            }
        }
    }


}
