@import '../../styles/globals.scss';

.wrapper {

}

.top {
  margin-bottom: 20px;
  width: 100%;
  .new {
    @include font-size(18px);
    cursor: pointer;
  }
}

.list {
  width: 100%;
  list-style-type: none;
  .item {
    padding: 25px;
    @include card();
    margin-bottom: 20px;
    @include font-size(16px);

    .cell {
        margin-bottom: 10px;
        input, textarea {
          min-width: 300px;
        }
        &.image_cell {
          img { max-width: 100px; }
        }
        &.button_cell {
          align-self: flex-end;
        }
      label {
        display: block;
        color: $grey-dark;

      }
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .offer_title {
      font-weight: bold;
    }
  }

  .edit_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
    }
  }
}