@import '../../styles/globals.scss';


:global {
  .Client-addItemForm {
    margin-bottom: 20px;
    .cell {
      display: flex;
      > div {
        align-self: center;
      }
      button {
        align-self: center;
        color: #fff;
      }
    }
  }
}