@function calculateRem($size)
  $remSize: $size / $base-font-size
  @return $remSize * 1rem


=font-size($size)
  font-size: calculateRem($size)

=card()
  border-radius: 5px
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.05)
  background-color: #fff


=bubble()
  border-radius: 5px
  box-shadow: 1px 6px 23px rgba(0, 0, 0, 0.05)
  background-color: #fff
  border: 1px solid rgba(0, 0, 0, 0.03)


=flex-center()
  display: flex
  justify-content: center
  align-items: center

