

$font-title: 'Assistant', sans-serif
$font-body: 'Assistant', sans-serif

$easing: cubic-bezier(0.7, 0, 0.3, 1)


$primary: #585D91
$secondary: #50BAB4
//$secondary: #1DE8B5

$font: #313131
$grey-dark: #7F7F7F
$grey-medium: #979797
$grey-medium-light: #A8A8A8
$grey-light: #E4E4E4
$grey-bg: #f7f7f7

$loader-1: #ff4201
$loader-2: #e30449
$loader-3: #710069
$loader-4: #380352

$content-width: 1170px

$media-higher-than-mobile: "only screen and (min-width : 920px)"
$media-lower-than-desktop: "only screen and (max-width : 920px)"

$width-phone-portrait-small: 340px
$width-phone-portrait: 450px
$width-phone-landscape: 740px
$width-phone-portrait-big: 570px

$width-tablet-portrait: 880px
$width-tablet-landscape: 1120px







