@import '../../styles/globals.scss';


:global {

  .ImageEditor {
    //box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 360px;
    margin: auto;
    canvas {
      max-width: 100%;
      touch-action: none;
    }

    .ImageEditor-upload {
      margin: 15px 0;
      position: relative;
      text-align: center;
      input {
        color: transparent;
        height: 36px;
      }
      &:after {
        content: "בחר תמונה";
        color: white;
        background: $secondary;
        padding: 3px 25px;
        height: 36px;
        border-radius: 2px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        width: 110px;
        line-height: 36px;
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
      }
    }

    .ImageEditor-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      max-width: 320px;
      margin: 0 auto;

      .material-icons {
        color: white !important;
        border-radius: 100%;
        background: $secondary;
        width: 30px;
        height: 30px;
        display: flex !important;
        @include flex-column-center;
      }
    }
    .Slider {
      max-width: 320px;
      margin: 0 auto;
    }
  }

}