@import '../../styles/globals.scss';


:global {

  .ImageEditor {
    //box-shadow: 0 0 5px rgba(0,0,0,0.1);
    //padding: 20px;
    //max-width: 360px;
    margin: auto;
    canvas {
      width: 100% !important;

      touch-action: none;

      clip-path: circle(169% at 34% -118%);
      @media #{$media-higher-than-mobile} {
        clip-path: circle(164% at 34% -118%);
      }
    }

    .ImageEditor-upload {
      width: 50px;
      height: 50px;
      background: $secondary;
      border-radius: 100%;
      position: absolute;
      bottom: 30px;
      left: 15px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
      input {
        opacity: 0;
        width: 50px !important;
        height: 50px;
        position: absolute;
        z-index: 9;
      }
      .material-icons {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    .ImageEditor-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      max-width: 320px;
      margin: 0 auto;

      .material-icons {
        color: white !important;
        border-radius: 100%;
        background: $secondary;
        width: 30px;
        height: 30px;
        display: flex !important;
        @include flex-column-center;
      }
    }
    .Slider {
      max-width: 320px;
      margin: 0 auto;
    }
  }

}