@import '../styles/globals.scss';

.container {
display: flex;
}

.content_wrapper {
  flex: 1;
}

.top_nav {
  //height: 30px;
  //width: 100%;
  //position: fixed;
  //top: 0;
  //background: $secondary;
  //border-bottom: 3px solid $highlight2;
}

.content {
  padding: 0px 20px 20px 50px;
}
