@import '../styles/globals.scss';

:global {

  .content {
    max-width: 650px;
    @media #{$media-higher-than-mobile}{
      padding: 0 20px;
    }
  }

  .menu-hamburger {
    width: 20px;
    height: 20px;
    //@include inline-block-mid;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    outline: 0;
    span {
      background: #fff;
      width: 100%;
      height: 3px;
      border-radius: 300px;
      position: absolute;
      left: 0;
      transform-origin: left center;
      transition: all 0.3s $easing;
      &:nth-child(1) {
        top: 0
      }
      &:nth-child(2) {
        top: 7px;
      }
      &:nth-child(3) {
        top: 14px;
      }
      will-change: transform;
    }

    &.open {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 0px;
          left: 5px;
        }
        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 14px;
          left: 5px;
        }
      }
    }
  }


  .wrapper {
    padding: 0 0 30px;
  }

  .NavigationBar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    @media #{$media-higher-than-mobile} {
      width:calc(100% - 255px);
    }
      button {
      margin-right: -10px !important;
      margin-left: 10px !important;
    }
  }

  .contentWrapper {
    padding-top: 50px;
    @media #{$media-higher-than-mobile}{
      padding-right: 255px;
      &.logout {
        padding-right: 0;
        .NavigationBar {
          width: 100%;
        }
        .content {
          max-width: 100%;
        }
      }
    }
  }


  .offers-wrapper {
    .offer-new {
      button {
        padding: 0 10px !important;
      }
    }
  }

  .offer-item {
    text-align: center;
    width: 100%;
    .offer-action-buttons {
      text-align: left;
      margin-top: 10px;
    }
    @media #{$media-higher-than-mobile}{
      max-width: 250px;
      display: inline-block;
      margin: 15px;
    }
  }


  .Settings {

    .Settings-paper {
      padding: 15px;
      min-height: calc(100vh - 140px);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      button {
        color: #fff;
        display: inline-block !important;
      }
      form {
        > div {
          margin-bottom: 15px !important;
        }
      }

      img {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .Loader {
    position: fixed;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    animation: spinBoxContainer ease 0.8s infinite;
    .loader-box {
      width: 25px;
      height: 25px;
      border-radius: 3px;
      animation: spinBox ease 0.5s infinite;
      &.box-1 {
        background: $loader-1;
      }
      &.box-2 {
        background: $loader-2;
      }
      &.box-3 {
        background: $loader-3;
      }
      &.box-4 {
        background: $loader-4;
      }
    }
  }

  .Loader-wrapper {
    background: $grey-bg;
    width: 100vw;
    height: calc(100vh - 50px);
    @include flex-column-center;
    position: fixed;
    top: 0;
    right: 0;
  }


  .no-image {
    width: 100%;
    height: 250px;
    background-color:#556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;

  }


}  //End global

//
//
//@keyframes spinBox {
//  0% {
//    border-radius: 3px;
//    transform: rotate(0deg);
//  }
//  100% {
//    border-radius: 100%;
//    transform: rotate(360deg);
//  }
//}
//
//@keyframes spinBoxContainer {
//  0% {
//    width: 60px;
//    height: 60px;
//    transform: rotate(0deg);
//  }
//  100% {
//    border-radius: 100%;
//    width: 120px;
//    height: 120px;
//    transform: rotate(0deg);
//  }
//}


