@import '../styles/globals.scss';


.nav {
  width: 320px;
  background-color: $primary;
  position: absolute;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.05);
  min-height: 100vh;
  z-index: 2;
  transition: all $easing 0.3s;
  @media #{$media-higher-than-mobile} {
    position: relative;
    transform: translate3d(0,0,0) !important;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    text-align: center;
    margin: 30px 0 60px;
    padding: 20px 0;
    position: relative;
    right: 0;
    width: 140px;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 0px 10px 10px;
      border-color: transparent transparent transparent $primary;
      position: absolute;
      right: 0;
      bottom: -10px;
    }

    .user {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      background-color: $primary-light;
      margin: 0 auto;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }

}

.brand {

}

.header {
}

.name {
  @include font-size(16px);
  color: #fff;
}
.menu_list {
  width: 100%;
  text-align: center;

  .nav_list {
    list-style-type: none;
    padding: 0;
    li {

      a {
        padding: 10px 20px;
        display: block;
        @include font-size(20px);
        color: $grey-light;
        text-decoration: none;
        //background-color: $primary;
        //border-radius: 30px;
        //margin-bottom: 20px;
        //box-shadow: inset 1px 1px 20px 0px darken($primary, 10%), 0px 0px 1px #333;
        //text-align: center;
        //border: 1px solid darken($primary, 10%);
      }
    }

  }

}