@import '../styles/globals.scss';


.nav {
  width: 120px;
  //background-color: $primary-dark;
  //background-image: linear-gradient(90deg, rgba(91, 76, 133,.07) 50%, transparent 50%),
  //linear-gradient(90deg, rgba(91, 76, 133,.13) 50%, transparent 50%),
  //linear-gradient(90deg, transparent 50%, rgba(91, 76, 133,.17) 50%),
  //linear-gradient(90deg, transparent 50%, rgba(91, 76, 133,.19) 50%);
  //background-size: 13px, 29px, 37px, 53px;
  background-image: linear-gradient(to bottom, $primary, lighten($primary, 10%));
  position: relative;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.05);
  min-height: 100vh;
  position: relative;
  z-index: 2;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    text-align: center;
    margin: 30px 0 60px;
    padding: 20px 0;
    background: $primary-dark;
    position: relative;
    right: 0;
    width: 140px;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 0px 10px 10px;
      border-color: transparent transparent transparent $primary;
      position: absolute;
      right: 0;
      bottom: -10px;
    }

    .user {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  }

}

.brand {

}

.header {
}

.name {
  @include font-size(16px);
  color: #fff;
}
.menu_list {
  width: 100%;
  //padding: 0 25px;

  .nav_list {
    list-style-type: none;
    padding: 0;
    li {

      a {
        padding: 10px 20px;
        display: block;
        @include font-size(20px);
        color: $grey-light;
        text-decoration: none;
        //background-color: $primary;
        //border-radius: 30px;
        //margin-bottom: 20px;
        //box-shadow: inset 1px 1px 20px 0px darken($primary, 10%), 0px 0px 1px #333;
        //text-align: center;
        //border: 1px solid darken($primary, 10%);
      }
    }

  }

}