@import '../../styles/globals.scss';

.Modal {
  @include card();
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9;
  width: 100%;
  max-width: 680px;
  padding: 20px;
}