
* {
  box-sizing: border-box;
}

body,html {
  font-size: $base-font-size;
  font-family: $font-body;
  margin: 0;
  padding: 0;
  background: $grey-bg;

}


input[type="text"], input[type="date"], input[type="text"], textarea {
  border: 1px solid $grey-light;
  padding: 7px 10px;
  border-radius: 5px;
  @media #{$media-higher-than-mobile} {
    min-width: 300px;
  }
  box-shadow: 0 0 2px rgba(0,0,0,0.05);
}


:global {
  .button {
    border:0;
    color: #fff;
    background: $secondary;
    border-radius: 3px;
    display: inline-block;
    padding: 8px 30px;
    &.save {
      //background: $secondary2;
    }
  }

  [data-tip] {
    color: #fff;
    width: 16px;
    height: 16px;
    background: #333;
    border-radius: 100%;
    display: inline-block;
    font-size: 9px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 3px;
    margin-right: 5px;
  }


  .card {
    @include card();
  }


  .addItemForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include font-size(16px);
    label {
      padding-right: 15px;
      margin-top: 10px;
      margin-bottom: 5px;
      display: block;
    }
    .input-name {
      display: inline-block;
      padding-right: 15px;
    }



  }
  .Overlay { display: none; }

  .close {
    @include font-size(22px);
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .showOverlay .Overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: block;
    top: 0;
  }

  .fixedModal {
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px;
    background: #fff;
    height: 100%;
    width: 100%;
    z-index: 9;
    @media #{$media-higher-than-mobile} {
      width: calc(100vw - 320px);
      right: 320px;

    }
  }

  .shareDialog {
    position: absolute;
    bottom: 95px;
    right: 0;
    width: 100%;
    padding: 20px;
    @include bubble();
  }

}
//End Global
