

$font-title: 'Montserrat', sans-serif
$font-body: 'Source Sans Pro', sans-serif
$base-font-size: 14px

$easing: cubic-bezier(0.7, 0, 0.3, 1)

$primary: #5b4c85
$secondary: #00cacc
$secondary2: #0c96c4
$highlight: #fbd064


$grey-font: #333
$grey-darkest: #686868
$grey-dark: #A9A9A9
$grey-dark-light: #CBCBCB

$grey-light: #E0E0E0
$grey-bg: #f8f8f8
$grey-super-light: #f2f2f2

$content-width: 1170px

$width-phone-portrait-small: 340px
$width-phone-portrait: 450px
$width-phone-landscape: 740px
$width-phone-portrait-big: 570px

$width-tablet-portrait: 880px
$width-tablet-landscape: 1120px





